body {
  background-color: #1d1d1d;
}
.centered-glass {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  padding: 2em;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 10px;
  color: white;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  transition: transform 0.1s ease; /* << add this */
  will-change: transform; /* optimization */
  perspective: 1000px; /* optional, makes it nicer */
}
.centered-glass:hover {
  transform: scale(1.1);
}
p {
  font: 15px Arial, sans-serif;
}
p1 {
  font: 12px Arial, sans-serif;
}
h1 {
 font-family: Arial, Helvetica, sans-serif;
 color:
}
svg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1; /* <<< Add this line */
}
a {
  text-decoration: none;
  color: black;
  margin-left: 1em;
}
a:hover {
  text-decoration: underline;
}
a img.icon {
  display: inline-block;
  height: 1em;
  margin: 0 0 -0.1em 0.3em;
}
/* background animation */
